<div class="box">
    <div>
        <label for="title">Title:</label>
        <input type="text" id="title"/>
    </div>
    <div>
        <label for="description">Description:</label>
        <textarea name="content" id="description" cols="30" rows="10"></textarea>
    </div>
    <div>
        <label for="content">Content:</label>
        <textarea name="content" id="content" cols="30" rows="10"></textarea>
    </div>
    <div>
        <label for="tags">Tags:</label>
        <input type="text" id="tags"/>
    </div>
    <div>
        <button id="addPost">Add post</button>
    </div>
</div>