<div id="wrap">
    <div id="regbar">
        <div id="navthing">
            <h2 id="margin-zero"><a href="#/user/login" id="loginform">Login</a> | <a href="#/user/signUp" id="registerform">Register</a></h2>
            <div class="login">
                <div class="arrow-up"></div>
                <div class="formholder">
                    <div class="randompad">
                        <fieldset>
                            <label name="username">Username</label>
                            <input type="text" id="username-login"/>
                            <label name="password">Password</label>
                            <input type="password" id="password-login"/>
                            <button id="login-button">Login</button>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="signup">
                <div class="arrow-up"></div>
                <div class="formholder">
                    <div class="randompad">
                        <fieldset>
                            <label name="username">Username</label>
                            <input type="text" id="username-signup"/>
                            <label name="password">Password</label>
                            <input type="password" id="password-signup"/>
                            <label name="password-confirm">Confirm Password</label>
                            <input type="password" id="password-confirm-signup"/>
                            <label name="email">Email</label>
                            <input type="email" id="email-signup"/>
                            <label name="name">Full Name</label>
                            <input type="text" />
                            <label name="name" >Profile Picture</label>
                            <input type="text" placeholder="URL..." id="user-profile-pic" />
                            <button id="sign-up-button">Register</button>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="scripts/login/toggleLogin.js"></script>